/* definicion de fuentes de texto */

@font-face {
    font-family: "Ruso";
    src: url('../fonts/RussoOne-Regular.ttf');
}
@font-face {
    font-family: "Quick";
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

/* estilos con selectores de elementos */

body{
    background-color: #E6E6E6;
    font-size: 14px;
}

h2{
    font-family: Ruso;
    font-size: 2em;
}

/* otros selectores */

div.form_login label{
    display: block;
    color: #fff;
}
.form_login{
    width: 100%;
    border: 1px solid #787D85;
    padding: 10px;
    border-radius: 7px;
    background-color: #01ACB4;
    clear: both;
}

div.form_login h2{
    color: #fff;
}