@font-face {
    font-family: "Ruso";
    src: url('../fonts/RussoOne-Regular.ttf');
}
@font-face {
    font-family: "Quick";
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}
*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: Ruso;
}
h2{
    font-size: 40px;
}
p{
    font-family: Quick;
}
/* 
=============================================
                FORMULARIO
============================================= 
*/
.cont_login{
    margin: 0;
    padding: 0;
    background-image: url(../img/img006.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.form_login{
    width: 320px;
    height: 420px;
    background-color: #000;
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.blog_log{
    background-color: #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #262626;
}
.form_login h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: Ruso;
}
.form_login label{
    margin: 0;
    padding: 0;
    display: block;
    font-family: Quick;
}
.form_login input{
    width: 100%;
    margin-bottom: 20px;
}
.form_login input[type="text"],
.form_login input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.form_login button{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #262626;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
}

/* 
=============================================
                PRINCIPAL
============================================= 
*/

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 580px 1fr;
    grid-template-areas: 
    "header     header      header"
    "principal  principal   principal"
    "proyecto   proyecto    proyecto"
    "footer     footer      footer"
}
.container .cabecera{
        /* estilos */
        width: 100%;
        position: fixed;
        display: flex;
        background-color: #000;
        justify-content: space-evenly;
    
        /* area-grid */
        grid-area: header;
}
.container .cabecera li,
.container .cabecera a{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}
.container .cabecera .menu_log{
    height: 100px;
}
.container .cabecera .top_menu{
    height: 100%;
    display: flex;
    align-items: center;
}
.container .cabecera .top_menu li:hover{
    background-color: #262626;
    padding: 40px 10px;
}
.box_social{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
}
.box_social i{
    font-size: 1.5em;
}
.box_social a:hover{
    color:#FFC812;
}
.principal{
    display: flex;
    flex-direction: row;
    grid-area: principal;
    height: 580px;
    background-image: url(../img/img006.jpg);
    background-size: cover;
}
.principal .logo_principal{
    min-width: 350px;
    background-image: url(../img/leon5.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.principal .art-1,
.principal .art-2{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contenido_proyectos{
    grid-area: proyecto;
}
.contenido_proyectos .titular_trabajos{
    background-color: #000;
    color: #FAB23D;
    text-align: center;
    padding: 15px;
    margin: 20px 0px;
}
.contenido_proyectos .ultimos_trabajos{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.contenido_proyectos .ultimos_trabajos .work_item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.contenido_proyectos .ultimos_trabajos .work_item img{
    width: 100%;
    border-radius: 5px;
    padding-bottom: 10px;
}
.contenido_proyectos .ultimos_trabajos .work_item a{
    background-color: #262626;
    padding: 15px;
    margin: 20px;
    text-decoration: none;
    border-radius: 20px;
    color: #FAB23D;

}

.contenedor_pie {
    grid-area: footer;
    background-image: url(../img/img003.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.contenedor_pie .contenedor_listados{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
.contenedor_pie .contenedor_listados .ult_articulos li,
.contenedor_pie .contenedor_listados .exp_laboral li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    background-color: rgba(250, 178, 61);
    text-align: center;
    border-radius: 20px;
    font-family: Quick;
}
.contenedor_pie .contenedor_listados .ult_articulos a,
.contenedor_pie .contenedor_listados .exp_laboral a{
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

.contenedor_pie .contenedor_listados .ult_articulos h2,
.contenedor_pie .contenedor_listados .exp_laboral h2{
    padding: 10px;
    margin: 15px;
    color: rgba(250, 178, 61, .7);
    text-align: center;
    background-color: #000;
}
.contenedor_pie .pie{
    padding: 20px;
    text-align: center;
}

/* 
=============================================
                PORTAFOLIO
============================================= 
*/
.portafolio{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
.portafolio .portafolio_1,
.portafolio .portafolio_2,
.portafolio .portafolio_3{
    display: flex;
    align-items: center;
}
.portafolio .portafolio_1 img,
.portafolio .portafolio_2 img,
.portafolio .portafolio_3 img{
    width: 100%;
}
.portafolio .portafolio_1 .img_p,
.portafolio .portafolio_2 .img_p,
.portafolio .portafolio_3 .img_p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portafolio .descripcion_proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #FAB23D;
}


