@font-face {
    font-family: "Ruso";
    src: url('../fonts/RussoOne-Regular.ttf');
}
@font-face {
    font-family: "Quick";
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}
*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: Ruso;
}
h2{
    font-size: 40px;
}
p{
    font-family: Quick;
}
input,select,textarea,button, .btn{
    font-family: Quick;
    padding: 5px 10px;
    font-size: 1.5em;
    margin: 7px;
    border: 1px solid #b37513;
    border-radius: 3px;
}
button, .btn{
    font-size: 1.1em;
    margin: 10px 1px;
    background-color: #FAB23D;
    border: 1px solid #ccc;
}
.btn_oscuro{
    background-color: #262626;
    color: #fff;
}
.btn_oscuro:hover{
    color: #fff;
    background-color: #262626;
}

/* 
=============================================
                FORMULARIO
============================================= 
*/

/* CONTENEDOR DEL LOGIN */

.cont_login{
    margin: 0;
    padding: 0;
    background-image: url(../img/img006.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

/* FORMULARIO */

.form_login{
    width: 320px;
    height: 420px;
    background-color: #000;
    color: #ffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% ,-50%);
    box-sizing: border-box;
    padding: 80px 30px;
    box-shadow: 2px 2px 5px rgba(250,178,61,.5);
}
.blog_log{
    background-color: #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: 2px solid #262626;
}
.blog_log:hover{
    transition: all .5s;
    border: 2px solid #FAB23D;
}
.form_login h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: Ruso;
}
.form_login label{
    margin: 0;
    padding: 0;
    display: block;
    font-family: Quick;
}
.form_login label:hover,
.form_login h2:hover
{
    transition: all .3s;
    color: #FAB23D;
}
.form_login input{
    width: 100%;
    margin-bottom: 20px;
}
.form_login input[type="text"],
.form_login input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #FAB23D;
}
.form_login button{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #262626;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    transition:all .5s;
}
.form_login button:hover{
    background-color: rgba(250,178,61,.7);
    transition:all .5s;
}

/* 
=============================================
                PRINCIPAL
============================================= 
*/

/* CONTENEDOR PRINCIPAL PARA TODAS LAS 
PAGINAS DISEÑADO CON GRID */

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 2fr 430px;
    grid-template-areas: 
    "header     header      header"
    "principal  principal   principal"
    "footer     footer      footer"
}
.container .cabecera{
        /* estilos */
        width: 100%;
        position: fixed;
        display: flex;
        background-color: #000;
        justify-content: space-evenly;
    
        /* area-grid */
        grid-area: header;
}
.container .cabecera li,
.container .cabecera a{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}
.container .cabecera .menu_log{
    height: 100px;
}
.container .cabecera .top_menu{
    height: 100%;
    display: flex;
    align-items: center;
}
.container .cabecera .top_menu li:hover{
    background-color: #262626;
    padding: 40px 10px;
}
.box_social{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
}
.box_social i{
    font-size: 1.5em;
}
.box_social a:hover{
    color:#FFC812;
}

/* 
CONTENIDO INICIAL - PRINCIPAL 
*/
.contenido{
    grid-area: principal;
}
.principal{
    display: flex;
    flex-direction: row;
    height: 580px;
    background-image: url(../img/img006.jpg);
    background-size: cover;
    justify-content: space-around;
}
.principal .logo_principal{
    min-width: 400px;
    background-image: url(../img/leon5.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.principal .art-1,
.principal .art-2{
    max-width: 420px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.principal .art-1 h2,
.principal .art-2 h2{
    color: #FAB23D;
    text-shadow: 1px 2px rgba(0, 0, 0, .5);
}

/*
CONTENIDO DE LOS PROYECTOS
*/

.contenido_proyectos .titular_trabajos{
    background-color: #000;
    color: #FAB23D;
    text-align: center;
    padding: 15px;
    margin: 20px 0px;
}
.contenido_proyectos .ultimos_trabajos{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.contenido_proyectos .ultimos_trabajos .work_item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    color: #000;
    border-radius: 50px;
}
.contenido_proyectos .ultimos_trabajos .work_item img{
    width: 100%;
    padding-bottom: 20px;
}
.contenido_proyectos .ultimos_trabajos .work_item a{
    background-color: #262626;
    padding: 15px;
    margin: 20px;
    text-decoration: none;
    border-radius: 20px;
    color: #FAB23D;
    transition: all .5s;
    font-family: Quick;
    font-weight: 800;
}
.contenido_proyectos .ultimos_trabajos .work_item a:hover{
    background-color: #FAB23D;
    color: #262626;
    border: 1px 1px solid rgba(0, 0, 0, .5);

}

/*
CONTENIDO DEL FOOTER
*/

.contenedor_pie {
    grid-area: footer;
    /* margin-top: 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.contenedor_pie .contenedor_listados{
    display: flex;
    background-image: url(../img/img003.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}
.contenedor_pie .contenedor_listados .ult_articulos li,
.contenedor_pie .contenedor_listados .exp_laboral li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    background-color: rgba(250, 178, 61);
    text-align: center;
    border-radius: 20px;
    font-family: Quick;
    transition: all .3s;
}
.contenedor_pie .contenedor_listados .ult_articulos li:hover,
.contenedor_pie .contenedor_listados .exp_laboral li:hover{
    background-color: #b37513;
}
.contenedor_pie .contenedor_listados .ult_articulos a,
.contenedor_pie .contenedor_listados .exp_laboral a{
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

.contenedor_pie .contenedor_listados .ult_articulos h2,
.contenedor_pie .contenedor_listados .exp_laboral h2{
    padding: 10px 30px;
    margin: 10px;
    font-size: 2em;
    color: rgba(250, 178, 61, .7);
    text-align: center;
    background-color: #000;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
}
.contenedor_pie .pie{
    padding: 20px;
    text-align: center;
    font-family: Quick;
    font-size: 20px;
    color: #000;
}

/* 
=============================================
                PORTAFOLIO
============================================= 
*/
.contenido{
    grid-area: principal;
}

.portafolio .portafolio_1,
.portafolio .portafolio_2,
.portafolio .portafolio_3{
    display: flex;
    align-items: center;
    background-color: #FAB23D;
    /* height: 50%; */
}
.portafolio .portafolio_1 img,
.portafolio .portafolio_2 img,
.portafolio .portafolio_3 img{
    width: 100%;
    height: 100%;
}
.portafolio .portafolio_1 .img_p,
.portafolio .portafolio_2 .img_p,
.portafolio .portafolio_3 .img_p{
    display: flex;
    align-items: center;
    justify-content: center;

}
.portafolio .descripcion_proyecto{
    display: flex;
    text-align: center;
    /* height: 500; */
}

/* 
=============================================
                VISTA_ADMIN
============================================= 
*/

.vista{
grid-area: principal;
}
.contenedor_39{
    display: grid;
    background-color: #eee;
    grid-template-columns: 3fr 9fr;

}
.barra_lateral{
    display: block;
    background-color: #ccc;
    min-height: 80vh;
}
.lista_barra h1{
    padding: 10px;
    border-bottom: 1px solid #777;
}
.lista_barra ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.lista_barra li,
.lista_barra a{
    display: block;
}
.lista_barra a{
    margin: 5px;
    padding: 15px 5px;
    color: #fff;
    background-color: rgba(90, 90, 90, .85);
    text-decoration: none;
    text-transform: uppercase;
    border-left: 4px solid #333;
}
.lista_barra a:hover{
    background-color: rgba(120, 120, 120, .8);
    border-left: 4px solid #333;
}

#btn_user{
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}
#user_menu{
    /* display: block; */
    /* background-color: rgba(0, 0, 0, .7); */
    /* border: 1px solid #111; */
    /* position: absolute; */
    /* right: 10px; */
    /* top: 70px; */
    /* width: 20vw; */
    visibility: hidden;
}

/* 
=============================================
                LISTAR_ARTICULOS
============================================= 
*/

.contenedor_principal{
    padding: 10px;
    /* text-align: center; */
}
table{
    table-layout: auto;
    width: 100%;
    border: 1px solid #777;
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #777;
    padding: 7px;
}

/* 
=============================================
                GRID DE FORMULARIOS
============================================= 
*/

.grid_1, .grid_3{
    display: grid;
    grid-gap: 10px;
}
.grid_1{
    grid-template-columns: 1fr;
}
.grid_3{
    grid-template-columns: 1fr 1fr 1fr;
}

form label{
    display: block;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    font-family: Quick;

}
input, select, textarea{
    display: block;
    /* width: 90%; */
}

.form_item{
    display: grid;
    grid-template-columns: 1fr;
}